<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njuhis.his.mapper.CheckResultMapper">
  <resultMap id="BaseResultMap" type="com.njuhis.his.model.CheckResult">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="Case_Number" jdbcType="VARCHAR" property="caseNumber" />
    <result column="advice" jdbcType="VARCHAR" property="advice" />
    <result column="result" jdbcType="VARCHAR" property="result" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from checkresult
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.njuhis.his.model.CheckResult" useGeneratedKeys="true"  keyProperty="id">
    insert into checkresult (id, Case_Number, advice, 
      result)
    values (#{id,jdbcType=INTEGER}, #{caseNumber,jdbcType=VARCHAR}, #{advice,jdbcType=VARCHAR}, 
      #{result,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.njuhis.his.model.CheckResult">
    update checkresult
    set Case_Number = #{caseNumber,jdbcType=VARCHAR},
      advice = #{advice,jdbcType=VARCHAR},
      result = #{result,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, Case_Number, advice, result
    from checkresult
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, Case_Number, advice, result
    from checkresult
  </select>
</mapper>