<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njuhis.his.mapper.CheckApplyMapper">
  <resultMap id="BaseResultMap" type="com.njuhis.his.model.CheckApply">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="Medical_Id" jdbcType="INTEGER" property="medicalId" />
    <result column="Creation_Time" jdbcType="BIGINT" property="creationTime" />
    <result column="Total_Sum" jdbcType="DECIMAL" property="totalSum" />
    <result column="Objective" jdbcType="VARCHAR" property="objective" />
    <result column="User_Id" jdbcType="INTEGER" property="userId" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="Invoice_Number" jdbcType="VARCHAR" property="invoiceNumber" />
    <result column="DelMark" jdbcType="INTEGER" property="delmark" />
  </resultMap>
  <resultMap id="BaseResultMapCollection" type="com.njuhis.his.model.CheckApply" extends="BaseResultMap">
    <collection property="checkDetailedList" ofType="com.njuhis.his.model.CheckDetailed">
      <id column="did" jdbcType="INTEGER" property="id" />
      <result column="CheckAppId" jdbcType="INTEGER" property="checkappid" />
      <result column="CheckProjId" jdbcType="INTEGER" property="checkprojid" />
      <result column="DeptId" jdbcType="INTEGER" property="deptid" />
      <result column="CreationTime" jdbcType="BIGINT" property="creationtime" />
      <result column="Position" jdbcType="VARCHAR" property="position" />
      <result column="dstate" jdbcType="INTEGER" property="state" />
      <result column="Price" jdbcType="DECIMAL" property="price" />
      <result column="Identification" jdbcType="INTEGER" property="identification" />
      <result column="InspectTime" jdbcType="BIGINT" property="inspecttime" />
      <result column="Result" jdbcType="VARCHAR" property="result" />
      <result column="ResultTime" jdbcType="BIGINT" property="resulttime" />
      <result column="operatorId" jdbcType="INTEGER" property="operatorid" />
      <result column="entryClerkId" jdbcType="INTEGER" property="entryclerkid" />
      <result column="ddelmark" jdbcType="INTEGER" property="delmark" />
    </collection>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from checkapply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.njuhis.his.model.CheckApply" useGeneratedKeys="true"  keyProperty="id">
    insert into checkapply (id, Medical_Id,
      Creation_Time, Total_Sum, Objective, 
      User_Id, state, Invoice_Number, 
      DelMark)
    values (#{id,jdbcType=INTEGER},  #{medicalId,jdbcType=INTEGER},
      #{creationTime,jdbcType=BIGINT}, #{totalSum,jdbcType=DECIMAL}, #{objective,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{invoiceNumber,jdbcType=VARCHAR}, 
      #{delmark,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.njuhis.his.model.CheckApply">
    update checkapply
    set
      Medical_Id = #{medicalId,jdbcType=INTEGER},
      Creation_Time = #{creationTime,jdbcType=BIGINT},
      Total_Sum = #{totalSum,jdbcType=DECIMAL},
      Objective = #{objective,jdbcType=VARCHAR},
      User_Id = #{userId,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      Invoice_Number = #{invoiceNumber,jdbcType=VARCHAR},
      DelMark = #{delmark,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, Medical_Id, Creation_Time, Total_Sum, Objective, User_Id, state,
    Invoice_Number, DelMark
    from checkapply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id,  Medical_Id, Creation_Time, Total_Sum, Objective, User_Id, state,
    Invoice_Number, DelMark
    from checkapply
  </select>
  <select id="selectAllJoin" resultMap="BaseResultMapCollection">
    select c.id,  c.Medical_Id, c.Creation_Time, c.Total_Sum, c.Objective, c.User_Id, c.state,
    c.Invoice_Number, c.DelMark,d.id did, d.CheckAppId, d.CheckProjId, d.DeptId, d.CreationTime, d.Position, d.State dstate, d.Price,
    d.Identification, d.InspectTime, d.Result, d.ResultTime, d.operatorId, d.entryClerkId, d.DelMark ddelmark
    from checkapply c left join checkdetailed d on c.id = d.CheckAppId
  </select>
  <select id="selectByMedicalId" parameterType="java.lang.Integer" resultMap="BaseResultMapCollection">
    select c.id, c.Medical_Id, c.Creation_Time, c.Total_Sum, c.Objective, c.User_Id, c.state,
    c.Invoice_Number, c.DelMark,d.id did, d.CheckAppId, d.CheckProjId, d.DeptId, d.CreationTime, d.Position, d.State dstate, d.Price,
    d.Identification, d.InspectTime, d.Result, d.ResultTime, d.operatorId, d.entryClerkId, d.DelMark ddelmark
    from checkapply c inner join checkdetailed d on c.id = d.CheckAppId
    where c.Medical_Id = #{medicalId,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKeyJoin" parameterType="java.lang.Integer" resultMap="BaseResultMapCollection">
    select c.id,  c.Medical_Id, c.Creation_Time, c.Total_Sum, c.Objective, c.User_Id, c.state,
    c.Invoice_Number, c.DelMark,d.id did, d.CheckAppId, d.CheckProjId, d.DeptId, d.CreationTime, d.Position, d.State dstate, d.Price,
    d.Identification, d.InspectTime, d.Result, d.ResultTime, d.operatorId, d.entryClerkId, d.DelMark ddelmark
    from checkapply c
    inner join checkdetailed d on c.id = d.CheckAppId
    where c.id = #{id,jdbcType=INTEGER}
  </select>
</mapper>