<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njuhis.his.mapper.DiagnosispkmMapper">
  <resultMap id="BaseResultMap" type="com.njuhis.his.model.Diagnosispkm">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="MedicalId" jdbcType="INTEGER" property="medicalid" />
    <result column="DrugId" jdbcType="INTEGER" property="drugid" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <insert id="insert" parameterType="com.njuhis.his.model.Diagnosispkm" useGeneratedKeys="true"  keyProperty="id">
    insert into diagnosis (id, MedicalId, DrugId, 
      state)
    values (#{id,jdbcType=INTEGER}, #{medicalid,jdbcType=INTEGER}, #{drugid,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, MedicalId, DrugId, state
    from diagnosis
  </select>
</mapper>