<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njuhis.his.mapper.ExpenseClassMapper">
  <resultMap id="BaseResultMap" type="com.njuhis.his.model.ExpenseClass">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ExpCode" jdbcType="VARCHAR" property="expcode" />
    <result column="ExpName" jdbcType="VARCHAR" property="expname" />
    <result column="DelMark" jdbcType="INTEGER" property="delmark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from expenseclass
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.njuhis.his.model.ExpenseClass">
    insert into expenseclass (ID, ExpCode, ExpName, 
      DelMark)
    values (#{id,jdbcType=INTEGER}, #{expcode,jdbcType=VARCHAR}, #{expname,jdbcType=VARCHAR}, 
      #{delmark,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.njuhis.his.model.ExpenseClass">
    update expenseclass
    set ExpCode = #{expcode,jdbcType=VARCHAR},
      ExpName = #{expname,jdbcType=VARCHAR},
      DelMark = #{delmark,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ID, ExpCode, ExpName, DelMark
    from expenseclass
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, ExpCode, ExpName, DelMark
    from expenseclass
  </select>
</mapper>