<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njuhis.his.mapper.PatientMapper">
  <resultMap id="BaseResultMap" type="com.njuhis.his.model.Patient">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="IDnumber" jdbcType="VARCHAR" property="idnumber" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="loginname" jdbcType="VARCHAR" property="loginname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <insert id="insert" parameterType="com.njuhis.his.model.Patient" useGeneratedKeys="true"  keyProperty="id">
    insert into patient (id, name, IDnumber, 
      phone, loginname, password
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{idnumber,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{loginname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, IDnumber, phone, loginname, password
    from patient
  </select>
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, name, IDnumber, phone, loginname, password
    from patient
    where name =#{name}
  </select>
</mapper>