<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njuhis.his.mapper.PatientMapper">
  <resultMap id="BaseResultMap" type="com.njuhis.his.model.Patient">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="IDnumber" jdbcType="VARCHAR" property="idnumber" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="loginname" jdbcType="VARCHAR" property="loginname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="gender" jdbcType="INTEGER" property="gender"/>
    <result column="birthday" jdbcType="DATE" property="birthday"/>
    <result column="homeAddress" jdbcType="VARCHAR" property="homeAddress"/>
  </resultMap>
  <insert id="insert" parameterType="com.njuhis.his.model.Patient" useGeneratedKeys="true"  keyProperty="id">
    insert into patient (id, name, IDnumber, 
      phone, loginname, password,gender,birthday,homeAddress
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{idnumber,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{loginname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      ,#{gender},#{birthday},#{homeAddress}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from patient
  </select>
  <select id="selectByLoginName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from patient
    where loginname =#{loginname}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from patient
    where id =#{id}
  </select>
  <update id="updateByPrimaryKey" parameterType="com.njuhis.his.model.Patient">
    update patient
    set id = #{id},
      name = #{name},
      IDnumber = #{idnumber},
      phone = #{phone},
      loginname = #{loginname},
      password = #{password},
      gender=#{gender},
      birthday=#{birthday},
      homeAddress=#{homeAddress}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>