<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njuhis.his.mapper.PrescriptionMapper">
  <resultMap id="BaseResultMap" type="com.njuhis.his.model.Prescription">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="Medical_Id" jdbcType="INTEGER" property="medicalId" />
    <result column="User_Id" jdbcType="INTEGER" property="userId" />
    <result column="Prescription_Name" jdbcType="VARCHAR" property="prescriptionName" />
    <result column="Prescription_State" jdbcType="INTEGER" property="prescriptionState" />
    <result column="Prescription_Time" jdbcType="BIGINT" property="prescriptionTime" />
    <result column="Invoice_id" jdbcType="VARCHAR" property="invoiceId" />
    <result column="DelMark" jdbcType="INTEGER" property="delmark" />
  </resultMap>
  <resultMap id="BaseResultMapCollection" type="com.njuhis.his.model.Prescription" extends="BaseResultMap">
    <collection property="prescriptionDetailedList" ofType="com.njuhis.his.model.PrescriptionDetailed">
      <id column="pdid" jdbcType="INTEGER" property="id" />
      <result column="DrugsId" jdbcType="INTEGER" property="drugsid" />
      <result column="Useage" jdbcType="VARCHAR" property="useage" />
      <result column="Dosage" jdbcType="VARCHAR" property="dosage" />
      <result column="Frequency" jdbcType="VARCHAR" property="frequency" />
      <result column="Price" jdbcType="DECIMAL" property="price" />
      <result column="quantity" jdbcType="INTEGER" property="quantity" />
      <association property="drugs" column="DrugsId" javaType="com.njuhis.his.model.Drugs">
        <id column="did" jdbcType="INTEGER" property="id" />
        <result column="Drugs_Code" jdbcType="CHAR" property="drugsCode" />
        <result column="Drugs_Name" jdbcType="VARCHAR" property="drugsName" />
      </association>
    </collection>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from prescription
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.njuhis.his.model.Prescription" useGeneratedKeys="true"  keyProperty="id">
    insert into prescription (id, Medical_Id, User_Id, 
      Prescription_Name, Prescription_State, Prescription_Time, 
      Invoice_id, DelMark)
    values (#{id,jdbcType=INTEGER}, #{medicalId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{prescriptionName,jdbcType=VARCHAR}, #{prescriptionState,jdbcType=INTEGER}, #{prescriptionTime,jdbcType=BIGINT}, 
      #{invoiceId,jdbcType=VARCHAR}, 0)
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.njuhis.his.model.Prescription">
    update prescription
    set Medical_Id = #{medicalId,jdbcType=INTEGER},
      User_Id = #{userId,jdbcType=INTEGER},
      Prescription_Name = #{prescriptionName,jdbcType=VARCHAR},
      Prescription_State = #{prescriptionState,jdbcType=INTEGER},
      Prescription_Time = #{prescriptionTime,jdbcType=BIGINT},
      Invoice_id = #{invoiceId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMapCollection">
    select p.id, p.Medical_Id, p.User_Id, p.Prescription_Name, p.Prescription_State, p.Prescription_Time,
           p.Invoice_id, p.DelMark,pd.id pdid, pd.PrescriptionId, pd.DrugsId, pd.Useage, pd.Dosage, pd.Frequency, pd.Price,
           pd.quantity,d.id did, d.Drugs_Code, d.Drugs_Name
    from prescription p
           left join prescriptiondetailed pd on pd.PrescriptionId = p.id
           left join drugs d on d.id = pd.DrugsID
    where p.id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, Medical_Id, User_Id, Prescription_Name, Prescription_State, Prescription_Time,
    Invoice_id, DelMark
    from prescription
  </select>
  <select id="selectAllJoin" resultMap="BaseResultMapCollection">
    select p.id, p.Medical_Id, p.User_Id, p.Prescription_Name, p.Prescription_State, p.Prescription_Time,
    p.Invoice_id, p.DelMark,pd.id pdid, pd.PrescriptionId, pd.DrugsId, pd.Useage, pd.Dosage, pd.Frequency, pd.Price,
    pd.quantity,d.id did, d.Drugs_Code, d.Drugs_Name
    from prescription p
    left join prescriptiondetailed pd on pd.PrescriptionId = p.id
    left join drugs d on d.id = pd.DrugsID
  </select>


  <select id="selectByMedicalId" parameterType="java.lang.Integer" resultMap="BaseResultMapCollection">
    select p.id, p.Medical_Id, p.User_Id, p.Prescription_Name, p.Prescription_State, p.Prescription_Time,
    p.Invoice_id, p.DelMark,pd.id pdid, pd.PrescriptionId, pd.DrugsId, pd.Useage, pd.Dosage, pd.Frequency, pd.Price,
    pd.quantity,d.id did, d.Drugs_Code, d.Drugs_Name
    from prescription p
    inner join prescriptiondetailed pd on pd.PrescriptionId = p.id
    inner join drugs d on d.id = pd.DrugsID
    where p.Medical_Id = #{MedicalId,jdbcType=INTEGER}
  </select>
</mapper>