<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njuhis.his.mapper.RegisterMapper">
  <resultMap id="BaseResultMap" type="com.njuhis.his.model.Register">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="RealName" jdbcType="VARCHAR" property="realname" />
    <result column="Gender" jdbcType="INTEGER" property="gender" />
    <result column="IDnumber" jdbcType="VARCHAR" property="idnumber" />
    <result column="BirthDate" jdbcType="DATE" property="birthdate" />
    <result column="Age" jdbcType="INTEGER" property="age" />
    <result column="AgeType" jdbcType="INTEGER" property="agetype" />
    <result column="HomeAddress" jdbcType="VARCHAR" property="homeaddress" />
    <result column="CaseNumber" jdbcType="VARCHAR" property="casenumber" />
    <result column="VisitDate" jdbcType="DATE" property="visitdate" />
    <result column="Noon" jdbcType="INTEGER" property="noon" />
    <result column="DeptId" jdbcType="INTEGER" property="deptid" />
    <result column="UserId" jdbcType="INTEGER" property="userid" />
    <result column="RegistId" jdbcType="INTEGER" property="registid" />
    <result column="SettleID" jdbcType="INTEGER" property="settleid" />
    <result column="IsBook" jdbcType="INTEGER" property="isbook" />
    <result column="RegisterTime" jdbcType="INTEGER" property="registertime" />
    <result column="RegisterID" jdbcType="INTEGER" property="registerid" />
    <result column="VisitState" jdbcType="INTEGER" property="visitstate" />
    <result column="patientID" jdbcType="INTEGER" property="patientid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from register
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.njuhis.his.model.Register" useGeneratedKeys="true"  keyProperty="id">
    insert into register (id, RealName, Gender, 
      IDnumber, BirthDate, Age, 
      AgeType, HomeAddress, CaseNumber, 
      VisitDate, Noon, DeptId, 
      UserId, RegistId, SettleID, 
      IsBook, RegisterTime, RegisterID, 
      VisitState, patientID)
    values (#{id,jdbcType=INTEGER}, #{realname,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, 
      #{idnumber,jdbcType=VARCHAR}, #{birthdate,jdbcType=DATE}, #{age,jdbcType=INTEGER}, 
      #{agetype,jdbcType=INTEGER}, #{homeaddress,jdbcType=VARCHAR}, #{casenumber,jdbcType=VARCHAR}, 
      #{visitdate,jdbcType=DATE}, #{noon,jdbcType=INTEGER}, #{deptid,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER}, #{registid,jdbcType=INTEGER}, #{settleid,jdbcType=INTEGER}, 
      #{isbook,jdbcType=INTEGER}, #{registertime,jdbcType=INTEGER}, #{registerid,jdbcType=INTEGER}, 
      #{visitstate,jdbcType=INTEGER}, #{patientid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.njuhis.his.model.Register">
    update register
    set RealName = #{realname,jdbcType=VARCHAR},
      Gender = #{gender,jdbcType=INTEGER},
      IDnumber = #{idnumber,jdbcType=VARCHAR},
      BirthDate = #{birthdate,jdbcType=DATE},
      Age = #{age,jdbcType=INTEGER},
      AgeType = #{agetype,jdbcType=INTEGER},
      HomeAddress = #{homeaddress,jdbcType=VARCHAR},
      CaseNumber = #{casenumber,jdbcType=VARCHAR},
      VisitDate = #{visitdate,jdbcType=DATE},
      Noon = #{noon,jdbcType=INTEGER},
      DeptId = #{deptid,jdbcType=INTEGER},
      UserId = #{userid,jdbcType=INTEGER},
      RegistId = #{registid,jdbcType=INTEGER},
      SettleID = #{settleid,jdbcType=INTEGER},
      IsBook = #{isbook,jdbcType=INTEGER},
      RegisterTime = #{registertime,jdbcType=INTEGER},
      RegisterID = #{registerid,jdbcType=INTEGER},
      VisitState = #{visitstate,jdbcType=INTEGER},
      patientID = #{patientid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, RealName, Gender, IDnumber, BirthDate, Age, AgeType, HomeAddress, CaseNumber, 
    VisitDate, Noon, DeptId, UserId, RegistId, SettleID, IsBook, RegisterTime, RegisterID, 
    VisitState, patientID
    from register
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, RealName, Gender, IDnumber, BirthDate, Age, AgeType, HomeAddress, CaseNumber, 
    VisitDate, Noon, DeptId, UserId, RegistId, SettleID, IsBook, RegisterTime, RegisterID, 
    VisitState, patientID
    from register
  </select>
  <select id="selectByIdNumber" parameterType="java.lang.String" resultMap="BaseResultMap">
  select id, RealName, Gender, IDnumber, BirthDate, Age, AgeType, HomeAddress, CaseNumber,
  VisitDate, Noon, DeptId, UserId, RegistId, SettleID, IsBook, RegisterTime, RegisterID,
  VisitState, patientID
  from register
  where idnumber = #{idnumber}
  </select>
  <select id="selectByPatientId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select id, RealName, Gender, IDnumber, BirthDate, Age, AgeType, HomeAddress, CaseNumber,
  VisitDate, Noon, DeptId, UserId, RegistId, SettleID, IsBook, RegisterTime, RegisterID,
  VisitState, patientID
  from register
  where patientid = #{patientid,jdbcType=INTEGER}
  </select>
</mapper>