<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njuhis.his.mapper.RegisterLevelMapper">
  <resultMap id="BaseResultMap" type="com.njuhis.his.model.RegisterLevel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="RegistName" jdbcType="VARCHAR" property="registname" />
    <result column="RegistFee" jdbcType="DECIMAL" property="registfee" />
    <result column="DelMark" jdbcType="INTEGER" property="delmark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from registlevel
    where id = #{id,jdbcType=INTEGER};
  </delete>
  <insert id="insert" parameterType="com.njuhis.his.model.RegisterLevel" useGeneratedKeys="true"  keyProperty="id">
    insert into registlevel (id,  RegistName, RegistFee, DelMark)
    values (#{id,jdbcType=INTEGER}, #{registname,jdbcType=VARCHAR},
       #{registfee,jdbcType=DECIMAL}, 0);
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.njuhis.his.model.RegisterLevel">
    update registlevel
    set
      RegistName = #{registname,jdbcType=VARCHAR},
      RegistFee = #{registfee,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER};
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from registlevel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from registlevel
  </select>
</mapper>